<!doctype html>
<html>
    <body>
        <table></table>
            {% for item in data %}
            <tr> 
                <td>{{ item.cellphone_id }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.model }}</td>
                <td>{{ item.operating_system }}</td>
                <td>{{ item.internal_memory }}</td>
                <td>{{ item.RAM }}</td>
                <td>{{ item.performance }}</td>
                <td>{{ item.main_camera }}</td>
                <td>{{ item.selfie_camera }}</td>
                <td>{{ item.battery_size }}</td>
                <td>{{ item.screen_size }}</td>
                <td>{{ item.weight }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.release_date }}</td>
            </tr>
            <br>
            {% endfor %}
        </table>
    </body>
</html>