<h1>Sign Up Below</h1>

{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<form method = "POST" action = "register">
    {% csrf_token %}
    <p>UserID:</p>
    <input type = "text" name = "id" />
    <p>Age:</p>
    <input type = "email" name = "age" />
    <p>Gender:</p>
    <input type = "text" name = "gender" />
    <p>Ocupation:</p>
    <input type = "text" name = "occupation" />
    <p>Password:</p>
    <input type = "password" name = "password" />
    <p>Repeat Password:</p>
    <input type = "password" name = "password2" /><br>
    <input type = "submit" />
</form>