<h1>Sign Up Below</h1>

{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<form method = "POST" action = "register">
    {% csrf_token %}
    <p>UserID:</p>
    <input type = "text" name = "id" required/>
    <p>Age:</p>
    <select name="age">
      {% with ''|center:100 as range %}
      {% for _ in range %}
        <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
      {% endfor %}
      {% endwith %}
    </select>
    <p>Gender:</p>
    <input type="radio" name="gender" value="Male"required /> Male
    <input type="radio" name="gender" value="Female"required /> Female
    <input type="radio" name="gender" value="null"required />Secrect
    <p>Ocupation:</p>
    <input type = "text" name = "occupation" />
    <p>Password:</p>
    <input type = "password" name = "password" required/>
    <p>Repeat Password:</p>
    <input type = "password" name = "password2" required/><br>
    <input type = "submit" />
</form>